@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  user-select: none;
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 101, 133, 1) 0%,
    rgba(255, 211, 165, 1) 90%
  );
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  padding: 10px 30px;
  
}

.card_title {
  text-align: center;
  padding: 10px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
.password-container {
  position: relative;
  width: 100%;
}
.password-container input {
  width: 100%;
  padding-right: 40px; /* Space for the icon */
}
.show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}
.show-password:hover {
  color: #333;
}

  button {
  background-color: #4796ff;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none; 
  padding: 8px 15px;
  width: 100%;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: center;
}
.social-container button {
  border: 1px solid #dddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  color: #000;
  background: none;
}
.social-container i {
  font-size: 1rem;
}

.social-container:focus {
  outline: none;
  box-shadow: none;
}

/* mobile view */
@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .card {
    height: auto;
    padding-bottom: 20px;
  }
  .card_terms > span {
    font-size: .5rem;
  }
  span {
    display: flex;
    justify-content: center;
    font-size: .8rem;
  }
}
/* tab view */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .card {
    padding: 40px;
    height: auto;
    width: 85%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }
  .card_title > h1 {
    font-size: 3rem;
  }
  form > input {
    margin: 10px 0;
    flex-grow: 1;
    height: 4rem;
    font-size: 1.3rem;
  }
  .card_terms > span {
    font-size: 1.2rem;
  }
  button {
    height: 50px;
    font-size: 20px;
  }
  span {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
}
/* desktop view */
@media screen and (min-width: 1024px) {
  .card {
    height: 1024px;
    width: 1024px;
  }
}
